<%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link data-turbolinks-track="true" href="/assets/application.css" media="all"
      rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
